<nav class="xjzl-tabs tabs">
  <a class="xjzl-tab-item {{#if (eq tabs.primary 'details')}}active{{/if}}" 
     data-action="tab" data-group="primary" data-tab="details">
     物品详情
  </a>
  <a class="xjzl-tab-item {{#if (eq tabs.primary 'effects')}}active{{/if}}" 
     data-action="tab" data-group="primary" data-tab="effects">
     属性/特效
  </a>
</nav>