<nav class="xjzl-nav tabs">
   <div class="xjzl-nav__logo">器</div>

   <button type="button" class="item {{#if (eq tabs.primary 'details')}}active{{/if}}" data-action="tab"
      data-group="primary" data-tab="details" data-tooltip="{{localize 'XJZL.Equipment.TabDetails'}}">
      <i class="fas fa-shield-alt"></i>
   </button>

   <button type="button" class="item {{#if (eq tabs.primary 'effects')}}active{{/if}}" data-action="tab"
      data-group="primary" data-tab="effects" data-tooltip="{{localize 'XJZL.Equipment.TabEffects'}}">
      <i class="fas fa-bolt"></i>
   </button>
</nav>