{{!-- templates/actor/character/tabs.hbs --}}
<nav class="xjzl-nav tabs">
   {{!-- 顶部装饰 Logo --}}
   <div class="nav-logo" title="侠界之旅">
      <span>道</span>
   </div>

   {{!-- 1. 武 (Combat) --}}
   <a class="nav-item {{#if (eq tabs.primary 'combat')}}active{{/if}}" data-action="tab" data-group="primary"
      data-tab="combat" data-tooltip="XJZL.Tabs.Combat">
      <span class="hanzi">武</span>
   </a>

   {{!-- 2. 功 (Cultivation) --}}
   <a class="nav-item {{#if (eq tabs.primary 'cultivation')}}active{{/if}}" data-action="tab" data-group="primary"
      data-tab="cultivation" data-tooltip="XJZL.Tabs.Cultivation">
      <span class="hanzi">功</span>
   </a>

   {{!-- 3. 技 (Skills) --}}
   <a class="nav-item {{#if (eq tabs.primary 'skills')}}active{{/if}}" data-action="tab" data-group="primary"
      data-tab="skills" data-tooltip="XJZL.Tabs.Skills">
      <span class="hanzi">技</span>
   </a>

   {{!-- 4. 脉 (Jingmai) --}}
   <a class="nav-item {{#if (eq tabs.primary 'jingmai')}}active{{/if}}" data-action="tab" data-group="primary"
      data-tab="jingmai" data-tooltip="XJZL.Tabs.Jingmai">
      <span class="hanzi">脉</span>
   </a>

   {{!-- 5. 囊 (Inventory) --}}
   <a class="nav-item {{#if (eq tabs.primary 'inventory')}}active{{/if}}" data-action="tab" data-group="primary"
      data-tab="inventory" data-tooltip="XJZL.Tabs.Inventory">
      <span class="hanzi">囊</span>
   </a>

   {{!-- 6. 侠 (Bio) --}}
   <a class="nav-item {{#if (eq tabs.primary 'bio')}}active{{/if}}" data-action="tab" data-group="primary"
      data-tab="bio" data-tooltip="XJZL.Tabs.Bio">
      <span class="hanzi">侠</span>
   </a>

   {{!-- 7. 设 (Config) --}}
   <a class="nav-item config {{#if (eq tabs.primary 'config')}}active{{/if}}" data-action="tab" data-group="primary"
      data-tab="config" data-tooltip="XJZL.Tabs.Config">
      <span class="hanzi">设</span>
   </a>
</nav>