<header class="xjzl-header flexrow">
    {{!-- 背景图标 --}}
    <img class="char-portrait" src="{{document.img}}" data-edit="img" title="{{document.name}}" />

    <div class="xjzl-flex-col xjzl-grow">
        {{!-- 背景名称 --}}
        <input type="text" name="name" value="{{document.name}}" class="xjzl-input-title" placeholder="背景名称..." />

        <div class="xjzl-meta-row">
            {{!-- 类型标签：显示为“身世背景” --}}
            <span class="xjzl-tag background-tag">
                <i class="fas fa-history"></i> {{localize "TYPES.Item.background"}}
            </span>
            {{!-- 可以在这里预留背景的“家乡”或“门派”字段 --}}
            <span class="xjzl-tag-sub">ORIGIN</span>
        </div>
    </div>
</header>