<section class="tab scrollable {{#if (eq tabs.primary 'details')}}active{{/if}}" data-tab="details"
    data-group="primary">
    <div class="xjzl-section">
        <div class="xjzl-section-header"><i class="fas fa-scroll"></i> 背景描述</div>
        <textarea name="system.description"
            class="xjzl-textarea-base xjzl-description-text">{{system.description}}</textarea>
    </div>

    <div class="xjzl-section">
        <div class="xjzl-section-header"><i class="fas fa-suitcase"></i> 初始行囊 (未实现)</div>
        <div class="xjzl-info-box">
            <textarea name="system.assets" class="xjzl-textarea-base xjzl-description-text"
                style="min-height:100px;">{{system.assets}}</textarea>
        </div>
    </div>
</section>