{{!-- templates/item/background/tab-details.hbs --}}
<section class="tab scrollable {{#if (eq tabs.primary 'details')}}active{{/if}}" data-tab="details" data-group="primary"
    style="padding: 0 10px;">

    <div class="xjzl-section">
        <div class="xjzl-section-header"><i class="fas fa-scroll"></i> {{localize "XJZL.Background.DescHeader"}}</div>
        <textarea name="system.description"
            class="xjzl-textarea-base xjzl-description-text">{{system.description}}</textarea>
    </div>

    <div class="xjzl-section" style="margin-top: 15px;">
        <div class="xjzl-section-header"><i class="fas fa-suitcase"></i> {{localize "XJZL.Background.AssetsHeader"}}
        </div>
        <div class="xjzl-info-box">
            <textarea name="system.assets" class="xjzl-textarea-base xjzl-description-text"
                style="min-height:100px;">{{system.assets}}</textarea>
        </div>
    </div>
</section>