<nav class="xjzl-nav tabs">
    <div class="xjzl-nav__logo" style="color: var(--c-theme-main); border-color: var(--c-theme-main);">
        {{localize "XJZL.Background.LogoChar"}}
    </div>

    <button type="button" class="item {{#if (eq tabs.primary 'details')}}active{{/if}}" data-action="tab"
        data-group="primary" data-tab="details" data-tooltip="{{localize 'XJZL.Background.TabDetails'}}">
        <i class="fas fa-book-open"></i>
    </button>

    <button type="button" class="item {{#if (eq tabs.primary 'effects')}}active{{/if}}" data-action="tab"
        data-group="primary" data-tab="effects" data-tooltip="{{localize 'XJZL.Background.TabEffects'}}">
        <i class="fas fa-bolt"></i>
    </button>
</nav>