<nav class="xjzl-tabs tabs flex0" data-group="primary">
    <a class="xjzl-tab-item {{#if (eq tabs.primary 'details')}}active{{/if}}" data-action="tab" data-group="primary"
        data-tab="details">
        <i class="fas fa-book-open"></i> {{localize "XJZL.Background.TabDetails"}}
    </a>
    <a class="xjzl-tab-item {{#if (eq tabs.primary 'effects')}}active{{/if}}" data-action="tab" data-group="primary"
        data-tab="effects">
        <i class="fas fa-bolt"></i> {{localize "XJZL.Background.TabEffects"}}
    </a>
</nav>