<!-- templates/system/pause.hbs -->
<div id="pause">
    <!-- 图标 -->
    <img src="{{icon}}" />

    <!-- 文字区域 -->
    <figcaption>
        <!-- 这里的 localize 是系统自带的“游戏暂停” -->
        {{localize "GAME.Paused"}}

        <!-- 这里是你定义的骚话变量 -->
        <small class="pause-flavor">{{flavorText}}</small>
    </figcaption>
</div>