<div class="xjzl-nav-content">
    {{#each tabs}}
    <button type="button" class="xjzl-cb-tab-btn {{#if (eq ../activeTab this.id)}}active{{/if}}" data-action="changeTab"
        data-tab="{{this.id}}">
        <i class="{{this.icon}}"></i> {{this.label}}
    </button>
    {{/each}}

    <button type="button" data-action="refresh" class="xjzl-cb-tab-btn" style="margin-left: auto;" title="刷新数据">
        <i class="fas fa-sync-alt"></i>
    </button>
</div>