<!--暂时的页面，先运行起来-->
<div class="sheet-main-layout">
    
    {{!-- 引用头部 --}}
    {{> "systems/xjzl-system/templates/actor/parts/actor-header.hbs"}}

    <section class="sheet-body">
        
        {{!-- 属性页 --}}
        <div class="tab {{tabs.stats.cssClass}}" data-tab="stats" data-group="primary">
            {{> "systems/xjzl-system/templates/actor/parts/actor-stats.hbs"}}
        </div>

        {{!-- 战斗页 --}}
        <div class="tab {{tabs.combat.cssClass}}" data-tab="combat" data-group="primary">
            {{> "systems/xjzl-system/templates/actor/parts/actor-combat.hbs"}}
        </div>

        {{!-- 行囊页 --}}
        <div class="tab {{tabs.inventory.cssClass}}" data-tab="inventory" data-group="primary">
            {{> "systems/xjzl-system/templates/actor/parts/actor-inventory.hbs"}}
        </div>

    </section>
</div>