<header class="xjzl-header">
    {{!-- 使用 data-action="editImage" --}}
    <img class="char-portrait" src="{{document.img}}" data-action="editImage" data-edit="img" title="点击修改图标" />
    
    <div class="xjzl-flex-col xjzl-grow">
        <input type="text" name="name" value="{{document.name}}" class="xjzl-input-title" placeholder="性格名称..."/>
        <div class="xjzl-meta-row flexrow" style="align-items: center; margin-top: 5px;">
            {{!-- 修复黑色长条逻辑 --}}
            <span class="xjzl-tag">{{localize "TYPES.Item.personality"}}</span>
            
            {{#if isGM}}
            <button type="button" class="xjzl-icon-btn {{#if isEditing}}active{{/if}}" 
                    data-action="toggleEditing" title="配置技能池" style="flex: 0 0 100px;">
                <i class="fas fa-cog"></i> 
                {{#if isEditing}}退出配置{{else}}配置技能{{/if}}
            </button>
            {{/if}}
        </div>
    </div>
</header>