<header class="xjzl-header flexrow">
    <img class="char-portrait" src="{{document.img}}" data-edit="img" title="{{document.name}}" />
    <div class="xjzl-flex-col xjzl-grow">
        <input type="text" name="name" value="{{document.name}}" class="xjzl-input-title" placeholder="性格名称..." />
        <div class="xjzl-meta-row">
            <span class="xjzl-tag">{{localize "TYPES.Item.personality"}}</span>
            {{#if isGM}}
            <button type="button" class="xjzl-icon-btn {{#if isEditing}}active{{/if}}" data-action="toggleEditing"
                title="配置技能池">
                <i class="fas fa-cog"></i>
            </button>
            {{/if}}
        </div>
    </div>
</header>