<nav class="xjzl-nav tabs">
    <div class="xjzl-nav__logo" style="color: var(--c-theme-main); border-color: var(--c-theme-main);">
        {{localize "XJZL.Personality.LogoChar"}}
    </div>
    {{!-- 只有一个 Tab，纯装饰作用，或者用于切回主视图 --}}
    <button type="button" class="item active" data-tooltip="{{localize 'XJZL.Personality.TabDetails'}}">
        <i class="fas fa-user-tag"></i>
    </button>
</nav>