{{!-- 必须加上 "tabs" 类名，否则 FVTT V13 无法识别这是导航容器 --}}
<nav class="xjzl-nav tabs">

    {{!-- LOGO --}}
    <div class="xjzl-nav__logo">武</div>

    {{!-- 导航项 --}}
    {{!-- data-action="tab" 和 data-group="primary" 是必须的 --}}

    <button type="button" class="item {{#if (eq tabs.primary 'config')}}active{{/if}}" data-action="tab"
        data-group="primary" data-tab="config">
        <i class="fas fa-cogs"></i>
        <label>修炼</label>
    </button>

    <button type="button" class="item {{#if (eq tabs.primary 'effects')}}active{{/if}}" data-action="tab"
        data-group="primary" data-tab="effects">
        <i class="fas fa-bolt"></i>
        <label>特效</label>
    </button>

</nav>