<nav class="xjzl-nav tabs">
    <div class="xjzl-nav__logo">武</div>

    {{!-- 按钮 1 --}}
    <button type="button" class="item {{#if (eq tabs.primary 'config')}}active{{/if}}" data-action="tab"
        data-group="primary" data-tab="config" data-tooltip="{{localize 'XJZL.UI.ConfigTab'}}"> {{!-- 这里写提示文字 --}}
        <i class="fas fa-cogs"></i>
        {{!-- label 删掉 --}}
    </button>

    {{!-- 按钮 2 --}}
    <button type="button" class="item {{#if (eq tabs.primary 'effects')}}active{{/if}}" data-action="tab"
        data-group="primary" data-tab="effects" data-tooltip="{{localize 'XJZL.UI.EffectsTab'}}">
        <i class="fas fa-bolt"></i>
    </button>
</nav>