{{!-- 必须加上 class="tabs" --}}
<nav class="xjzl-tabs tabs">
    {{!-- 
        V13 Tab 按钮规范：
        1. data-action="tab": 告诉 AppV2 这是一个 Tab 切换按钮
        2. data-group="primary": 对应 MJS 中的 tabGroups key
        3. data-tab="config": 目标 Tab 的名称
        4. active 类: 根据传进来的 tabs.primary 上下文动态添加
    --}}
    <a class="xjzl-tab-item {{#if (eq tabs.primary 'config')}}active{{/if}}" 
       data-action="tab" 
       data-group="primary" 
       data-tab="config">
        <i class="fas fa-cogs"></i> {{localize "XJZL.Neigong.StatsConfig"}}
    </a>

    <a class="xjzl-tab-item {{#if (eq tabs.primary 'effects')}}active{{/if}}" 
       data-action="tab" 
       data-group="primary" 
       data-tab="effects">
        <i class="fas fa-bolt"></i> 特效BUFF/DEBUFF
    </a>
</nav>