/* styles/base/_chat.css */

.xjzl-chat-card {
  font-family: "Ma Shan Zheng", "Kaiti", serif;
}

.xjzl-chat-card .card-header img {
  flex: 0 0 40px;
  border-radius: 4px;
}

.xjzl-chat-card button {
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  line-height: 24px;
  font-size: 13px;
}

.xjzl-chat-card button:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  filter: brightness(1.1);
}