/* 基础重置 */
.window-app .window-content {
    background: transparent;
    padding: 0;
    overflow: hidden;
    font-family: var(--font-serif);
    color: var(--c-ink-dark);
}

/* 核心输入框重置 */
.window-app input,
.window-app button,
.window-app select,
.window-app textarea {
    border: none;
    background: transparent;
    font-family: inherit;
    color: inherit;
}

.window-app button:focus,
.window-app input:focus {
    outline: none;
    box-shadow: none;
}

/* 美化滚动条 */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--c-cinnabar);
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}