<nav class="xjzl-nav tabs">
   {{!-- 根据类型显示不同的 Logo --}}
   <div class="xjzl-nav__logo" style="border-color: var(--c-theme-main); color: var(--c-theme-main);">
      {{#if isManual}}籍{{else}}物{{/if}}
   </div>

   {{!-- 详情 Tab --}}
   <button type="button" class="item {{#if (eq tabs.primary 'details')}}active{{/if}}" data-action="tab"
      data-group="primary" data-tab="details" data-tooltip="物品详情">
      <i class="fas fa-scroll"></i>
   </button>

   {{!-- 特效 Tab (仅消耗品) --}}
   {{#if isConsumable}}
   <button type="button" class="item {{#if (eq tabs.primary 'effects')}}active{{/if}}" data-action="tab"
      data-group="primary" data-tab="effects" data-tooltip="使用效果">
      <i class="fas fa-flask"></i>
   </button>
   {{/if}}
</nav>