{{!-- templates/apps/attribute-test-config.hbs --}}
<div id="{{formId}}" class="xjzl-rc-root">

    {{!-- 1. 额外加值 (Bonus) --}}
    <div class="xjzl-rc-row">
        <label class="xjzl-rc-label">{{label}} 加值</label>
        {{!-- 复用样式 --}}
        <input type="number" name="bonus" value="0" placeholder="0" class="xjzl-rc-input-num" />
    </div>

    <div class="xjzl-rc-row">
        <div class="xjzl-rc-label-group">
            <label class="xjzl-rc-label">优劣势层级</label>
            <span class="xjzl-rc-hint">正数为优势，负数为劣势</span>
        </div>

        {{!-- 2. 优劣势层级 (Level) --}}
        <div class="xjzl-rc-counter">
            <button type="button" data-action="decrease" data-target="level"><i class="fas fa-minus"></i></button>
            <input type="number" name="level" value="0" readonly />
            <button type="button" data-action="increase" data-target="level"><i class="fas fa-plus"></i></button>
        </div>
    </div>

</div>