/* 这里的样式只在 .xjzl-window.item.neigong 下生效 */

.xjzl-window.item.neigong textarea.script-editor {
  background: rgba(0,0,0,0.8);
  color: #0f0;
  font-family: monospace;
  padding: var(--sp-sm);
  border-radius: var(--radius-sm);
  border: 1px solid var(--xjzl-ink-500);
}