/* 只针对背景界面的微调 */
.xjzl-window.item.background .xjzl-header {
    border-bottom-color: var(--xjzl-color-background);
}

.xjzl-window.item.background .xjzl-info-box {
    background: rgba(0, 0, 0, 0.03);
    border-left: 3px solid var(--xjzl-color-background);
    padding: 10px;
    margin-top: 10px;
}