<nav class="xjzl-nav tabs">
    <div class="xjzl-nav__logo">{{localize "XJZL.ArtBook.LogoChar"}}</div>

    <button type="button" class="item active" data-tooltip="{{localize 'XJZL.ArtBook.TabContent'}}">
        <i class="fas fa-book-reader"></i>
    </button>
</nav>